<div class="prompt">
<%= image_tag "Logo_PNG.png", class:'avatar-bordered' %>
<p> Add your weight: </p>
</div>


<%= simple_form_for new_user_user_param_path(current_user, @user_param) do |f| %>
  <%= f.input :weight %>
  <%= f.button :submit %>
<% end %>

 <div class="container">
    <%= render "shared/footer" %>
  </div>
