<div class="prompt">
<%= image_tag "Logo_PNG.png", class:'avatar-bordered' %>
<p> Add your weight: </p>
</div>


<div class="input-form">
<%= simple_form_for @user do |f| %>
  <%= f.input :username %>
  <%= f.input :password %>
  <%= f.button :submit %>
<% end %>
</div>



 <div class="container">
    <%= render "shared/footer" %>
  </div>
