<div style="background-color: white; height: 8vh" class="fixed-bottom">
  <div class="container">
    <div class="container d-flex justify-content-between fixed-bottom mb-2 footer">
      <%= link_to dashboard_path do %>
        <%= image_tag "footer/home_thick.svg", class: "icon pl-4" %>
      <% end %>
      <%= link_to dashboard_path do %>
        <%= image_tag "footer/plus.png", class: "icon" %>
      <% end %>
      <%= link_to dashboard_path do %>
        <%= image_tag "footer/user_thick.png", class: "icon pr-4" %>
      <% end %>
    </div>
  </div>
</div>
