
<div class="big_title">
  <div class="container">
    <h3>Your <b>Health Score</b></h3>
    <div class="score d-flex align-items-end" id="main_title">
      <h1><%= @health_score.round(1) %></h1>
      <h2>/100</h2>
    </div>
    <%= link_to "Score history", graph_path, style:"color: white;" %>
  </div>
</div>

<!-- classifier -->

<% great_array = @feedback.select { |component| component[3] == "great" } %>
<% average_array = @feedback.select { |component| component[3] == "average" } %>
<% low_array = @feedback.select { |component| component[3] == "low" } %>


<!-- columns -->

<div class="container" style="margin-bottom: 12vh">
  <div class="row mr-3 ml-3">

    <!-- feedback -->
    <div class="great col-sm-12 col-md-12 col-lg-4 mt-3">
      <!-- GREAT  -->
      <%= render "shared/title_great" %>
      <% great_array.each do |info| %>
        <%= render "shared/component_info", info: info %>
      <% end %>
    </div>

    <div class="average col-sm-12 col-md-12 col-lg-4 mt-3">
      <!-- AVERAGE  -->
      <%= render "shared/title_average" %>
      <% average_array.each do |info| %>
        <%= render "shared/component_info", info: info %>
      <% end %>
    </div>

    <div class="low col-sm-12 col-md-12 col-lg-4 mt-3 ">
      <!-- LOW  -->
      <%= render "shared/title_low" %>
      <% low_array.each do |info| %>
        <%= render "shared/component_info", info: info %>
      <% end %>
    </div>

  </div>
</div>
<%= render "shared/footer" %>
