

<div class="big_title mb-3">
  <div class="mb-2">
    <a href="javascript:history.back()" style="color: white"><i class="fas fa-chevron-left" style="color: white; font-size: 22px"></i></a>
  </div>

  <div class="container">
    <h3>Your Health Score <b>History</b></h3>

    <p><em><%= current_user.first_name.capitalize %>, this is your health score history. Click any point in the chart to get a breakdown of that day.</em></p>

  </div>
</div>


<div class="container">
  <div class="graph-card">

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.0.0-beta2/Chart.min.js"></script>

      <div class="chart-container small-c" style="overflow-x: hidden; display: block;">
        <canvas class="chartjs" data-labels="<%= @dates %>" data-charttype='line'
          style="max-height: 60vh;" width='400' height='450'>

          <div class="chartjs-item" style="display: none"  data-label='Health score' data-charturls='<%= @ids %>' data-chartdata='<%= @health_score %>'>

          </div>
        </canvas>
      </div>

      <div class="chart-container big-c" style="display: none;">
        <canvas class="chartjs" data-labels="<%= @dates %>"  data-charttype='line' style="max-height: 60vh;">

          <div class="chartjs-item" data-label='Health Score' data-charturls='<%= @ids %>' data-chartdata='<%= @health_score %>'>

          </div>
        </canvas>
      </div>



    <div class="d-flex flex-row-reverse">

      <div class="dropleft">

        <button class="btn dropdown-toggle dropdown-graph" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= @text %>
        </button>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
         <li> <%= link_to "Weekly", graph_path(date: "Weekly"), class: "dropdown-item" %> </li>
         <li> <%= link_to "Monthly", graph_path(date: "Monthly"), class: "dropdown-item" %> </li>
         <li> <%= link_to "All history", graph_path(date: "All history"), class: "dropdown-item" %> </li>

        </div>
      </div>

    </div>

  </div>
</div>

<%= render 'shared/footer' %>

<script>
  if ($(".chartjs").length > 0){
      $( ".chartjs" ).each(function() {

        datasets=[];
        // ARRAY FOR DATASETS
        $(this).find('.chartjs-item').each(function(index, el){
          var chartData=$(this).data('chartdata');
          var chartLabel=$(this).data('label');
          var chartURLs=$(this).data('charturls');
          if($(this).data('rgb')){
            var rgb=$(this).data('rgb');
          }else{
            if(index<1){
              var rgb='246,172,29';
            }else if(index<2){
              var rgb='255,85,75';
            }
          }
          var dataset=[{
                  label: chartLabel,
                  data: chartData,
                  links: chartURLs,
                  borderColor: 'rgba('+rgb+', 1)',
                  backgroundColor: 'rgba('+rgb+', 0.12)',
                  borderWidth:3,
                  pointBorderWidth:3,
                  pointBorderColor:'rgba('+rgb+', 1)',
                  pointBackgroundColor:'#465f80',
                  pointRadius: 5,
              }];

               datasets = $.merge(dataset, datasets);


        });

        // CHART JS INIT

        var chartType=$(this).data('charttype');
        var chartLabels=$(this).data('labels');

        var myChart = new Chart(this, {
            type: chartType,
            data: {
                labels: chartLabels,
                datasets: datasets,
                options: {
                  maintainAspectRatio: true,
                }
            },
        });

        $(this).on('click', function(evt){
            var activePoint = myChart.getElementAtEvent(evt);
            if(activePoint[0]){
              var URL = myChart.data.datasets[activePoint[0]._datasetIndex].links[activePoint[0]._index];
            window.open(`/user_score/day_graph?score=${URL}`, "_self");

            }

        });


      });
  }

  window.onload = () => {
    console.log(window.innerHeight)
    console.log(window.innerWidth)
    // if (window.innerWidth >= 500) {
    //   document.querySelector('.small-c').style.display = "none";
    //   console.log("hid the small one")
    // } else {
    //   console.log("hid the big one")
    //   document.querySelector('.big-c').style.display = "none";
    // }

    if (window.innerWidth <= 600) {
      document.querySelector('.small-c').style.display = "block";
      console.log("hid the big one")
    } else {
      console.log("hid the small one")
      document.querySelector('.big-c').style.display = "block";
      document.querySelector('.small-c').style.display = "none";
    }
  }

  window.onresize = () => {
    // console.log(window.innerWidth)
    if (window.innerWidth <= 600) {
      document.querySelector('.small-c').style.display = "block";
      document.querySelector('.big-c').style.display = "none";
      // console.log("hid the big one")
    } else {
      // console.log("hid the small one")
      document.querySelector('.big-c').style.display = "block";
      document.querySelector('.small-c').style.display = "none";
    }
  }


</script>
