<div class="prompt">
<%= image_tag "Logo_PNG.png", class:'avatar-bordered' %>
<p> What would you like to report, <%= @user.first_name %> ?</p>
</div>

<div class="icon-container">
<div>
  <%= image_tag "add_button/1_Bodymetrics.png", class:'avatar' %>
<h4>
Weight
</h4>
</div>

<div class="aside">
<%= image_tag "add_button/6_Workout.png", class:'avatar'  %>
<h4>
Exercise
</h4>
</div>

<div class="mid">
<%= image_tag "add_button/2_Moodtracker", class:'avatar' %>
  <h4>
Sensors
</h4>
</div>

<div class="aside">
  <%= image_tag "add_button/4_Energy.png", class:'avatar' %>
<h4>
Food
</h4>
</div>

<div>
<%= image_tag "add_button/5_Hobby.png", class:'avatar' %>
<h4>
Profile
</h4>
</div>

</div>
