<div class="prompt">
<%= image_tag "Logo_PNG.png" %>
<p> What would you like to report, <%= @user.first_name %> ?</p>
</div>





<div class="icon-container">

<div>
  <%= image_tag "add_button/1_Bodymetrics.png" %>
<h4>
Weight
</h4>
</div>

<div>
<%= image_tag "add_button/6_Workout.png" %>
<h4>
Exercise
</h4>
</div>

<div>
<%= image_tag "add_button/2_Moodtracker" %>
  <h4>
Sensors
</h4>
</div>

<div>
  <%= image_tag "add_button/4_Energy.png" %>

<h4>
Food
</h4>
</div>


<div>
<%= image_tag "add_button/5_Hobby.png" %>
<h4>
Update profile
</h4>
</div>



</div>
