<div class="big_title">
  <div class="container">

    <ul class="nav-item dropdown">
            <%= image_tag "black-nav.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false, style: "position: absolute; top: -4px; right: -4px;" %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "Update your profile", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Health Score History", graph_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </ul>

    <h3>Your <b>Health Score</b></h3>
    <div class="score d-flex align-items-end" id="main_title">
      <h1><%= @health_score.health_score.round(1) %></h1>
      <h2>/100</h2>
    </div>
    <%= link_to "Score history", graph_path, style:"color: white;" %>
    <i style="font-size:24px; color: white;" class="fa">&#xf107;</i>
  </div>
</div>

 <div class="user-title" style="max-width: 500px; margin: 0 auto;"
    >
  <div class="stat-icon">
    <%= link_to edit_user_registration_path do %>
    <%= image_tag "avatar_face.png", style:"max-height: 90px;"%>
   <% end  %>
  </div>
  <h5>
    Your vitals:
  </h5>
  <p> <%= @user.age %> years old</p>
  <h3 style="font-size: 16px;">
  Here is a breakdown of your consumption and activities for today:
  </h3>
  <hr>
 </div>


<div class="container" style="margin-bottom: 12vh; max-width: 1000px;
    margin: 0 auto;">
  <div class="row mr-3 ml-3" style="padding-left: 8px;">

    <div class="great col-sm-12 col-lg-4 offset-lg-4 mt-2 mb-5">

      <%= render "shared/profile_component", info: ["fiber", "vitals/11_Fibers.png", @health_score.fiber.round, "Grams"] %>
      <%= render "shared/profile_component", info: ["Protein", "vitals/13_Red.png", @health_score.protein.round, "Grams"] %>
      <%= render "shared/profile_component", info: ["Fat", "vitals/9_Processed.png", @health_score.fat.round, "Grams"] %>
      <%= render "shared/profile_component", info: ["Carbs", "vitals/wheat.png", @health_score.carbs.round, "Grams"] %>
      <%= render "shared/profile_component", info: ["Sugar", "vitals/10_Sugar.png", @health_score.sugar.round, "Grams"] %>
      <%= render "shared/profile_component", info: ["Water", "vitals/15_Water.png", (@health_score.water / 236).round, "Cups" ] %>
       <%= render "shared/sleep_profile_comp", info: ["Sleep", "vitals/16_Sleep.png", @health_score.overall_sleep / 60, "Slept at 10:45 pm"]  %>
       <%= render "shared/profile_component", info: ["Steps", "vitals/3_Steps.png", @health_score.steps, "Last Synched:", @health_score.created_at.to_s.slice(10, 10) ] %>
       <%= render "shared/profile_component", info: ["Workout", "vitals/6_Workout.png", @health_score.exercise_type.capitalize, @health_score.active_minutes, "Minutes" ] %>
       <%= render "shared/profile_component", info: ["Resting Heart Rate", "vitals/1_Heart.png", "#{@health_score.heart_rate} BPM", "Based on stats from past 24hrs"]  %>

      <br>
    </div>
    </div>


<%= render "shared/footer" %>
