<!-- to re-use partial component, -->
<!-- in info you need to provide name, icon, and custom message  -->

<div class="big_title">
  <div class="container">
    <h3>Your <b>Health Score</b></h3>
    <div class="score d-flex align-items-end" id="main_title">
      <h1><%= @health_score.health_score.round(1) %></h1>
      <h2>/100</h2>
    </div>
    <%= link_to "Score history", graph_path, style:"color: white;" %>
  </div>
</div>

 <div class="user-title">
  <h3>
  <%=  @user.first_name %>'s vitals:
  </h3>
  <span>
  <%=  @user.age %> years old
  </span>
 </div>

<div class="dashboard">

  <div class="row">
     <div class="col-xs-6 col-3 ">
       <p> Fiber </p>
      </div>
      <div class="col-xs-6 col-3 ">
      <%= image_tag "vitals/11_Fibers.png", class: "icon" %>
        </div>
      <div class="col-xs-12 col-6">
       <span>
       <%= @health_score.fiber.round %> Grams
       <p>content</p>
       </span>
      </div>
     </div>

 <div class="row">
     <div class="col-xs-6 col-3 ">
       <p> Protein </p>
      </div>
      <div class="col-xs-6 col-3 ">
       <%= image_tag  "vitals/13_Red.png", class: "icon" %>
        </div>
      <div class="col-xs-12 col-6">
       <span>
       <%= @health_score.protein.round %> Grams
       <p>content</p>
       </span>
      </div>
     </div>




 <div class="row">
     <div class="col-xs-6 col-3 ">
       <p> Fat </p>
      </div>
      <div class="col-xs-6 col-3 ">
       <%= image_tag "vitals/9_Processed.png", class: "icon" %>
         </div>
      <div class="col-xs-12 col-6">
       <span>
       <%= @health_score.fat.round %> Grams
       <p>content</p>
       </span>
      </div>
     </div>

      <div class="row">
     <div class="col-xs-6 col-3 ">
       <p> Carbs </p>
      </div>
      <div class="col-xs-6 col-3 ">
       <%= image_tag "vitals/1_Sleep.png", class: "icon" %>
         </div>
      <div class="col-xs-12 col-6">
       <span>
       <%= @health_score.carbs.round %> Grams
       <p>content</p>
       </span>
      </div>
     </div>


 <div class="row">
     <div class="col-xs-6 col-3 ">
       <p> Sugar </p>
      </div>
      <div class="col-xs-6 col-3 ">
       <%= image_tag "vitals/10_Sugar.png", class: "icon" %>
         </div>
      <div class="col-xs-12 col-6">
       <span>
       <%= @health_score.sugar.round %> Grams
       <p>content</p>
       </span>
      </div>
     </div>

 <div class="row">
     <div class="col-xs-6 col-3 ">
       <p> Water </p>
      </div>
      <div class="col-xs-6 col-3 ">
     <%= image_tag "vitals/15_Water.png", class: "icon" %>
         </div>
      <div class="col-xs-12 col-6">
       <span>
       <%= @health_score.water / 500 %> Cups
       <p>content</p>
       </span>
      </div>
     </div>

    <div class="row">
     <div class="col-xs-6 col-3 ">
       <p> Sleep </p>
      </div>
      <div class="col-xs-6 col-3 ">
      <%= image_tag "vitals/16_Sleep", class: "icon" %>
        </div>
      <div class="col-xs-12 col-6">
       <span>
       <%= @health_score.overall_sleep / 60 %> hrs
       <p>Slept at 10:45 pm</p>
       </span>
      </div>
     </div>

    <div class="row">
     <div class="col-xs-6 col-3 ">
        <p> Steps </p>
      </div>
     <div class="col-xs-6 col-3 ">
      <%= image_tag "vitals/3_Steps.png", class: "icon" %>
      </div>
      <div class="col-xs-12 col-6">
    <span>
     <%= @health_score.steps %> Steps
      <p>Last Synched: <%= @health_score.created_at.to_s.slice(10, 18) %> </p>
    </span>
   </div>
      </div>

    <div class="row">
     <div class="col-xs-6 col-3 ">
      <p> Workout </p>
     </div>
    <div class="col-xs-6 col-3 ">
     <%= image_tag "vitals/6_Workout.png", class: "icon" %>
    </div>
    <div class="col-xs-12 col-6">
     <span>
      <p> <%= @health_score.exercise_type %> </p>
      <%= @health_score.active_minutes %> Minutes
      </span>
     </div>
    </div>

    <div class="row">
     <div class="col-xs-6 col-3 ">
      <p> Resting Heart Rate </p>
     </div>
    <div class="col-xs-6 col-3 ">
     <%= image_tag "vitals/1_Heart.png", class: "icon" %>
    </div>
    <div class="col-xs-12 col-6">
     <span>
      <%= @health_score.heart_rate %> BPM
      <p>content</p>
      </span>
     </div>
    </div>

      <br>
    <br>
</div>

<%= render "shared/footer" %>
