
<div class="big_title">

  <!-- TITLE -->
  <div class="container" >
    <div class="row mr-3 ml-3">
      <!-- Avatar logo -->
      <div class="col-3 mt-3 text-left p-0">
        <%= link_to edit_user_registration_path do %>
        <%= image_tag "avatar_face.png", style:"width: 100%; max-width:60px; margin:auto;"%>
        <% end  %>
      </div>
      <!-- Title  -->
      <div class="col-6 mt-3">
      <h5 class="text-center" style="font-size: 22px; font-weight:900"><%= @user.first_name.capitalize %>'s  Vitals:</h5>
      <p class="text-center" style="letter-spacing: -0.035em; margin:0;"> <%= @user.age %> years old</p>
      <p class="text-center" style="letter-spacing: -0.035em; margin:0;"> Score: <%= @health_score.health_score.round(1) %></p>
      <p class="text-center mb-2" style="letter-spacing: -0.035em; margin:0;"> BMI: <%= @health_score.bmi.round(7) %></p>
      </div>

      <!-- Settings button -->
      <div class="col-3 mt-3 text-right p-0">
        <ul class="nav-item dropdown" style="padding: 0;">
         <%= image_tag "black-nav.png", class: "avatar dropdown-toggle  text-right", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
         <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
           <%= link_to "Update your profile", edit_user_registration_path, class: "dropdown-item" %>
           <%= link_to "Health Score History", graph_path, class: "dropdown-item" %>
           <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
         </div>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <hr>
  <h3 style="font-size: 15px;" class="text-center">
  Here is a breakdown of your habits for today:
  </h3>
</div>

<!-- DATA PLOTED -->
<div class="container" style="margin-bottom: 12vh">
  <div class="row mr-3 ml-3">

    <div class="great col-sm-12 col-md-12 col-lg-4 mt-3">
    <%= render "shared/profile_component", info: ["fiber", "vitals/11_Fibers.png", @health_score.fiber.round, "Grams"] %>
    <%= render "shared/profile_component", info: ["Protein", "vitals/13_Red.png", @health_score.protein.round, "Grams"] %>
    <%= render "shared/profile_component", info: ["Fat", "vitals/9_Processed.png", @health_score.fat.round, "Grams"] %>
    <%= render "shared/profile_component", info: ["Carbs", "vitals/wheat.png", @health_score.carbs.round, "Grams"] %>
    </div>
    <div class="great col-sm-12 col-md-12 col-lg-4 mt-3">
      <%= render "shared/profile_component", info: ["Sugar", "vitals/10_Sugar.png", @health_score.sugar.round, "Grams"] %>
      <%= render "shared/profile_component", info: ["Water", "vitals/15_Water.png", (@health_score.water / 236).round, "Cups" ] %>
      <%= render "shared/profile_component", info: ["Sleep", "vitals/16_Sleep.png", "#{@health_score.overall_sleep / 60} hours", "Slept at 10:45 pm"]  %>
    </div>
    <div class="great col-sm-12 col-md-12 col-lg-4 mt-3">
      <%= render "shared/profile_component", info: ["Steps", "vitals/3_Steps.png", @health_score.steps, "Last Synched: #{@health_score.created_at.to_s.slice(10, 18)}" ] %>
      <%= render "shared/profile_component", info: ["Workout", "vitals/6_Workout.png", @health_score.exercise_type.capitalize, @health_score.active_minutes, "Minutes" ] %>
      <%= render "shared/profile_component", info: ["Heart rate", "vitals/1_Heart.png", "#{@health_score.heart_rate} BPM", "Average from the past 24hrs"]  %>

      <br>
    </div>
  </div >
</div>


<%= render "shared/footer" %>
