<div class="wrap">

<div class="profile-container">
 <%= image_tag "profile.png", class: "profile-landing" %>
<div class="side-icons">
 <%= image_tag "vitals/1_Sleep.png", class: "icon" %>
 <%= image_tag "vitals/3_Steps.png", class: "icon" %>
 <%= image_tag "vitals/3_Mind.png", class: "icon" %>
 <%= image_tag "vitals/4_Energy.png", class: "icon" %>
</div>
</div>

<div class="big_title">
  <div class="container">
    <h3>Your <b>Health Score</b></h3>
    <div class="score d-flex align-items-end" id="main_title">
      <h1><%= @health_score.health_score.round(1) %></h1>
      <h2>/100</h2>
    </div>
    <%= link_to "Score history", graph_path, style:"color: white;" %>
  </div>
</div>

 <div class="user-title">
  <h3>
  <%=  @user.first_name %>'s vitals
  </h3>
  <span>
  <%=  @user.age %> years old
  </span>
  <!--
  <span>
     user.user_params.height
   user.user_params.weight
  </span> -->
 </div>

<div class="dashboard">
    <div class="row">
     <div class="col-xs-6 col-3 ">
       <p> Sleep </p>
      </div>
      <div class="col-xs-6 col-3 ">
      <%= image_tag "vitals/1_Sleep.png", class: "icon" %>
        </div>
      <div class="col-xs-12 col-6">
       <span>
       7.5 Hrs
       <p>Slept at 10:45 pm</p>
       </span>
      </div>
     </div>

    <div class="row">
      <div class="col-xs-6 col-3 ">
        <p> Focus </p>
      </div>
      <div class="col-xs-6 col-3 ">
     <%= image_tag "vitals/3_Mind.png", class: "icon" %>
       </div>
     <div class="col-xs-12 col-6">
     <span>
      4.5 hours
      <p>75% productivity</p>
     </span>
    </div>
   </div>

    <div class="row">
     <div class="col-xs-6 col-3 ">
      <p> Food </p>
     </div>
     <div class="col-xs-6 col-3 ">
    <%= image_tag "vitals/4_Energy.png", class: "icon" %>
    </div>
    <div class="col-xs-12 col-6">
  <span>
    850 Calories
    <p>60% of daily caloric goal met</p>
  </span>
  </div>
   </div>

    <div class="row">
     <div class="col-xs-6 col-3 ">
        <p> Steps </p>
      </div>
     <div class="col-xs-6 col-3 ">
      <%= image_tag "vitals/3_Steps.png", class: "icon" %>
      </div>
      <div class="col-xs-12 col-6">
    <span>
      5, 495 steps
      <p>Synched 15 mins ago</p>
    </span>
   </div>
      </div>

    <div class="row">
     <div class="col-xs-6 col-3 ">
      <p> Workout </p>
     </div>
    <div class="col-xs-6 col-3 ">
     <%= image_tag "vitals/6_Workout.png", class: "icon" %>
    </div>
    <div class="col-xs-12 col-6">
     <span>
      25 mins
      <p>Light jogging - 4 hours ago</p>
      </span>
     </div>
    </div>
    </div>
  </div>

<%= render "shared/footer" %>
